<div class=" container pt-5" [ngStyle]="{maxWidth : '600px'}" role="main">
  <h1>Todo</h1>
  <div class="d-flex flex-column flex-md-row gap-3 w-100 mb-5">
    <div class="flex-grow-1">
      <input type="text" placeholder="Name" class="form-control" [(ngModel)]="todoInputValue" />
    </div>
    <button class="btn btn-primary px-5 text-nowrap" (click)="addTodo()" [disabled]="todoInputValue === ''">Add
      Todo</button>
  </div>
  <hr />
  <div class="d-flex flex-column gap-3">
    <div class="card p-2" *ngFor="let todoValue of todos">
      {{todoValue}}
    </div>
  </div>
</div>
